.schoolList {
  font-family: "Ubuntu", sans-serif;
  width: 1050px;
  height: 750px;
  overflow-y: scroll;
  margin-top: 50px;
}

.schoolList::-webkit-scrollbar {
  width: 30px;
  border: 1px solid #000;
  border-radius: 5px;
}

.schoolList::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #000051;
  border: 1px solid #000;
}

.schoolListItem {
  width: 955px;
  height: 300px;
  margin: 2em;
  padding: 1.5em;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}

.schoolName {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  color: #000051;
  margin-bottom: 5px;
}

.schoolContact {
  text-align: left;
  margin-bottom: 5px;
  font-size: 18px;
}

.btn-container {
  margin: 1em 0 1em 0;
  text-align: left;
}

.schoolList-btn {
  color: #ffffff;
  font-size: 18px;
  background-color: #000051;
  border-radius: 20px;
  border: 1px solid #000051;
  padding: 0.4em 0.7em;
  margin-right: 40px;
}

.schoolList-btn:hover {
  background-color: #ffffff;
  color: #000051;
}

.schoolList-btn:focus {
  outline-width: 0px;
}

.review-container {
  text-align: left;
  font-size: 18px;
  margin-top: 30px;
}

.fa-star {
  padding: 0 0.3em 0 0.3em;
}

.fa-star:hover {
  color: #000051;
  font-weight: 700;
}

.schoolListItem-rightSide {
  min-width: 140px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
